body {
    padding: 0;
    margin: 0;
}

.navBarDiv {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-bottom: 1.5px solid black;
}


.pages {
    display: flex;
    gap: 50px;
    margin-left: 10px;

}

.cart {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    
}

ul {
    list-style-type: none;
}